body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--black);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

html {
  scroll-snap-type: y mandatory;
}
h2 {
  margin-right: 150px;
  color: var(--accent);
  left: calc(40% + 130px);
  font-size: 26px;
  font-weight: 100;
  line-height: 1.2;
  position: absolute;
}

section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.img-section {
  width: 400px;
  height: 400px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}
.text-section {
  display: flex;
  text-align: center;
  align-items: center;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 10px;
}
